
# project files
.idea/vcs.xml
vector_creator.egg-info/*
app_vector_creator/__pycache__/*
metadata_parser/app_raw_to_df/__pycache__/*
app_vector_creator/stats_models/__pycache__/*
app_vector_creator/preprocess/__pycache__/*
app_vector_creator/score_vectors/__pycache__/*
metadata_parser/web_raw_to_df/__pycache__/*
.ipynb_checkpoints/*
metadata_parser/__pycache__/*
NotebookSessions/dask-worker-space/*
NotebookSessions/.ipynb_checkpoints/*
NotebookLocal/.ipynb_checkpoints/*
NotebookWeb/.ipynb_checkpoints/*
NotebookWeb/dask-worker-space/*
# general folders
venv
vector_creator.egg-info
entries.json
tenen_csv_files/*

# ios
.DS_Store
._.DS_Store


