
# project files
.idea/vcs.xml
generate_data_extraction/features_functions/__pycache__/*
generate_data_extraction/__pycache__/*
/__pycache__/*

NotebookSessions/.ipynb_checkpoints/*
NotebookWeb/.ipynb_checkpoints/*
NotebookWeb/dask-worker-space/*
# general folders
venv
vector_creator.egg-info
entries.json
tenen_csv_files/*

# ios
.DS_Store
._.DS_Store


